---
import { Image } from 'astro:assets'
import WindowsIcon from '@icons/windows.astro'
import ItchioIcon from '@icons/itchio.astro'
import { getLangFromUrl, useTranslations } from '../i18n/utils'

const images = import.meta.glob('/src/assets/img/games/*', { eager: true })
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const { game } = Astro.props
const gameLogo = images[`/src/assets/img/games/${game.logo_name}`].default
---

<article
  class="flex w-full max-w-sm cursor-pointer flex-col overflow-hidden rounded-xl bg-background-light shadow-lg transition-transform duration-300 ease-in-out hover:-translate-y-2 dark:bg-[#2C2C30]"
>
  <div class="relative group">
    <a href={game.link} rel="noreferrer">
      <Image
        src={gameLogo}
        alt={`${game.title} logo`}
        class="hover:brightness-125 w-full aspect-[4/3] bg-cover bg-center"
      />
    </a>
    <div
      class="absolute inset-0 flex items-center justify-center bg-black/70 opacity-0 transition-opacity duration-300 group-hover:opacity-100"
    >
      <a
        href={game.link}
        rel="noreferrer"
        class="flex w-fit h-12 items-center justify-center rounded-full text-white backdrop-blur-sm transition-colors"
      >
        <span class="text-3xl">{t('cardgame.button')}</span>
      </a>
    </div>
  </div>
  <div class="flex flex-1 flex-col p-5">
    <div class="flex-grow">
      <h3 class="text-xl font-bold text-slate-800 dark:text-[#F5F5F5]">
        {game.title}
      </h3>
      <div class="mt-4 flex items-center gap-3">
        {
          game.platforms.includes('windows') && (
            <WindowsIcon classList="fill-white w-6 h-6" />
          )
        }
        {
          game.platforms.includes('itchio') && (
            <ItchioIcon classList="fill-white w-6 h-6" />
          )
        }
      </div>
    </div>
    <a
      href={game.link}
      rel="noreferrer"
      class="mt-6 flex w-full min-w-[84px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-11 px-4 bg-white text-black text-base font-medium leading-normal transition-colors hover:opacity-70"
    >
      <span class="truncate">{t('cardgame.button')}</span>
    </a>
  </div>
</article>
