---
import { Image } from 'astro:assets'

import defaultLogo from '@assets/logos/Logo.svg'
import XIcon from '@icons/x.astro'
import LinkedinIcon from '@icons/linkedin.astro'
import GithubIcon from '@icons/github.astro'
import InstagramIcon from '@icons/instagram.astro'
import ArtStationIcon from '@icons/artstation.astro'

interface Props {
  name: string
  job: string
  image?: Image
  twitterLink?: string
  linkedinLink?: string
  githubLink?: string
  instagramLink?: string
  artstationLink?: string
}

const {
  name,
  image = defaultLogo,
  job,
  twitterLink,
  linkedinLink,
  githubLink,
  instagramLink,
  artstationLink,
} = Astro.props
---

<section class="flex items-center gap-x-6">
  <Image
    src={image}
    alt={name}
    class="w-20 h-20 rounded-full grayscale border-2 no-drag"
  />
  <div>
    <p class="text-base font-semibold leading-7 tracking-tight text-gray-900">
      {name}
    </p>
    <p class="text-sm font-semibold leading-6 text-indigo-600">{job}</p>
    <div class="flex space-x-10 md:space-x-6 mt-2">
      {
        twitterLink && (
          <a
            class="hover:fill-indigo-600"
            href={twitterLink}
            target="_blank"
            rel="noreferrer"
          >
            <span class="sr-only">Twitter</span>
            <XIcon classList="fill-black hover:fill-indigo-600" height="1em" />
          </a>
        )
      }
      {
        linkedinLink && (
          <a
            class="hover:fill-indigo-600"
            href={linkedinLink}
            target="_blank"
            rel="noreferrer"
          >
            <span class="sr-only">Linkedin</span>
            <LinkedinIcon
              classList="fill-black hover:fill-indigo-600"
              height="1em"
            />
          </a>
        )
      }
      {
        githubLink && (
          <a
            class="hover:fill-indigo-600"
            href={githubLink}
            target="_blank"
            rel="noreferrer"
          >
            <span class="sr-only">Github</span>
            <GithubIcon classList="fill-black hover:fill-indigo-600" />
          </a>
        )
      }
      {
        instagramLink && (
          <a
            class="hover:fill-indigo-600"
            href={instagramLink}
            target="_blank"
            rel="noreferrer"
          >
            <span class="sr-only">Instagram</span>
            <InstagramIcon
              classList="fill-black hover:fill-indigo-600"
              height="1em"
            />
          </a>
        )
      }
      {
        artstationLink && (
          <a
            class="hover:fill-indigo-600"
            href={artstationLink}
            target="_blank"
            rel="noreferrer"
          >
            <span class="sr-only">ArtStation</span>
            <ArtStationIcon
              classList="fill-black hover:fill-indigo-600"
              height="1em"
            />
          </a>
        )
      }
    </div>
  </div>
</section>
