---
import { Image } from 'astro:assets'
import WindowsIcon from '@icons/windows.astro'
import ItchioIcon from '@icons/itchio.astro'
import { getLangFromUrl, useTranslations } from '../i18n/utils'

const images = import.meta.glob('/src/assets/img/games/*', { eager: true })
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const { game } = Astro.props
const gameLogo = images[`/src/assets/img/games/${game.logo_name}`].default
---

<article
  class="max-w-xs rounded-t-2xl rounded overflow-hidden shadow-lg bg-black text-white flex flex-col justify-between"
>
  <a href={game.link} rel="noreferrer">
    <Image
      src={gameLogo}
      alt={`${game.title} logo`}
      class="hover:brightness-125 w-full"
    />
  </a>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2 text-center">{game.title}</div>
  </div>
  <div class="flex flex-col lg:flex-row justify-around items-center pb-8 gap-8">
    <span class="flex gap-x-5">
      {
        game.platforms.includes('windows') && (
          <WindowsIcon classList="fill-white w-6 h-6" />
        )
      }
      {
        game.platforms.includes('itchio') && (
          <ItchioIcon classList="fill-white w-6 h-6" />
        )
      }
    </span>
    <a
      href={game.link}
      rel="noreferrer"
      class="bg-white w-9/12 lg:w-32 text-black px-5 py-2 rounded-lg text-center hover:bg-gray-300"
    >
      {t('cardgame.button')}
    </a>
  </div>
</article>
