---
import { getCollection } from 'astro:content'
import CardTeam from '@components/CardTeam.astro'
import { getLangFromUrl, useTranslations } from '@i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const teamMembers = await getCollection('team')
---

<section id="whoAreWe" class="w-9/12 3xl:w-6/12 mx-auto">
  <h2 class="russo-font text-4xl mb-5 font-bold">{t('whoAreWe')}</h2>
  <article class="grid gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
    <div class="max-w-2xl">
      <p class="mt-6 text-lg leading-8 text-gray-600">
        {t('whoarewe.description')}
      </p>
    </div>
    <ul
      role="list"
      class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
    >
      {
        teamMembers.map((member) => (
          <li>
            <CardTeam
              name={member.data.name}
              image={member.data.image}
              job={t(member.data.jobKey as Parameters<typeof t>[0])}
              linkedinLink={member.data.linkedin}
              twitterLink={member.data.twitter}
              githubLink={member.data.github}
              instagramLink={member.data.instagram}
              artstationLink={member.data.artstation}
            />
          </li>
        ))
      }
    </ul>
  </article>
</section>
